<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headTag.ejs') %>
		<!-- <link rel="stylesheet" type="text/css" href="/css/signup.css" /> -->
		<title>Login</title>
	</head>
	<body>
		<!-- TODO -->
		<!-- Header -->

		<div class="container">
			<div><a href="/">Home</a></divs=>
				<div id="alert" role="alert"></div>
				<div class="container col-5 mt-5 px-4 py-5" style="box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);">
				<h3 class="text-center mb-5">LOGIN FORM</h3>
				<form action="" method="post" id="form">
					<div class="form-group">
						<!-- <label for="userName">Username</label> -->
						<input type="text" class="form-control form-control-lg" id="userName" placeholder="Username" autofocus/>
					</div>
					<div class="form-group">
						<!-- <label for="password">Password</label> -->
						<input type="password" class="form-control form-control-lg" id="password" placeholder="Password" />
					</div>
					<button id="btn" type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
				</form>
			</div>
		</div>

		<%- include("../partials/scripts.ejs") %>
		<script src="/js/login.js"></script>
	</body>
</html>
