<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headTag.ejs') %>
		<!-- <link rel="stylesheet" type="text/css" href="/css/signup.css" /> -->
		<title>Signup</title>
	</head>
	<body>
		<!-- TODO -->
		<!-- Header -->

		<div class="container">
			<div><a href="/">Home</a></div>
			<div id="alert" role="alert"></div>
			<div class="container col-md-5 mt-5 px-4 py-5" style="box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);">
				<h3 class="text-center mb-5">SIGN-UP FORM</h3>
				<form action="/api/signup" method="post" id="form">
					<div class="row">
						<div class="form-group col-6">
							<!-- <label for="firstName">First Name</label> -->
							<input type="text" class="form-control" id="firstName" placeholder="First Name" autofocus />
						</div>
						<div class="form-group col-6">
							<!-- <label for="lastName">Last Name</label> -->
							<input type="text" class="form-control" id="lastName" placeholder="Last Name" />
						</div>
					</div>
					<div class="form-group form-check form-check-inline">
						<label class="form-check-label" for="male">male</label>
						<input class="form-check-input" type="radio" name="sex" id="male" value="male" />
					</div>
					<div class="form-group form-check form-check-inline">
						<label class="form-check-label" for="female">female</label>
						<input class="form-check-input" type="radio" name="sex" id="female" value="female" />
					</div>
					<div class="form-group">
						<!-- <label for="userName">Username</label> -->
						<input type="text" class="form-control" id="userName" placeholder="Username" />
					</div>
					<div class="form-group">
						<!-- <label for="mobile">Mobile No.</label> -->
						<input type="text" class="form-control" id="mobile" placeholder="Phone Number" />
					</div>
					<div class="form-group">
						<!-- <label for="password">Password</label> -->
						<input type="password" class="form-control" id="password" placeholder="Password" />
					</div>
					<div class="form-group">
						<!-- <label for="password2">Password Confirmation</label> -->
						<input type="password" class="form-control" id="password2" placeholder="Password Confirmation" />
					</div>
					<button id="btn" type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
				</form>
			</div>
		</div>

		<%- include("../partials/scripts.ejs") %>
		<script src="/js/signup.js"></script>
	</body>
</html>
